<ion-header>
  <ion-toolbar>
    <ion-title>
      Consulta de CEP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="opcao % 2 == 1">
    <ion-item>
      <ion-label>Insira o CEP que deseja consultar:</ion-label>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="CEP" placeholder="01001000" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-button color="success" (click)=" buscarCep()">Consultar</ion-button>
    </ion-item>

    <ion-item *ngIf="opcao % 2 == 1">
      <ion-label>deseja buscar o CEP usando  a sigla do estado, a cidade e parte do nome da rua?</ion-label> <br>
      <ion-button (click)="escolha()" >SIM</ion-button>
    </ion-item>

    <ion-item *ngIf="endereco"><ion-label>Cep: {{endereco.cep}}</ion-label></ion-item>
  <ion-item *ngIf="endereco"><ion-label>Logradouro: {{endereco.logradouro}}</ion-label></ion-item>
  <ion-item *ngIf="endereco"><ion-label>Complemento: {{endereco.complemento}}</ion-label></ion-item>
  <ion-item *ngIf="endereco"><ion-label>Bairro: {{endereco.bairro}}</ion-label></ion-item>
  <ion-item *ngIf="endereco"><ion-label>Localidade: {{endereco.localidade}}</ion-label></ion-item>
  <ion-item *ngIf="endereco"><ion-label>UF: {{endereco.uf}}</ion-label></ion-item>
  <ion-item *ngIf="endereco"><ion-label>Estado: {{endereco.estado}}</ion-label></ion-item>
  <ion-item *ngIf="endereco"><ion-label>Região: {{endereco.regiao}}</ion-label></ion-item>
  <ion-item *ngIf="endereco"><ion-label>DDD: {{endereco.ddd}}</ion-label></ion-item>

  </div>

  <div *ngIf="opcao % 2 == 0">
    <ion-item>
      <ion-label>Insira o edereço que deseja buscar:</ion-label>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="UF" placeholder="UF" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="cidade" placeholder="cidade" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="logradouro" placeholder="rua" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-button color="success" (click)=" buscarEndereco()">Buscar</ion-button>
    </ion-item>

    <ion-item *ngIf="opcao % 2 == 0">
      <ion-label>deseja consultar o CEP?</ion-label> <br>
      <ion-button (click)="escolha()" >SIM</ion-button>
    </ion-item>

    <ion-list *ngIf="resultados.length > 0">
      <ion-item *ngFor="let r of resultados">
          <h3>Rua: {{r.logradouro}} -</h3>
          <h3>- Bairo: {{r.bairro}} -</h3>
          <h3>- Local: {{r.localidade}} -</h3>
          <h3>- Cep: {{r.cep}}</h3>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
